@using Web1_lab.Services
@inject CalcService Service
@{
    ViewBag.Title = "AccessServiceDirectly - Backend1";
    var model = Service.GetCalcModel();
}
<h1>AccessServiceDirectly</h1>

<b>Rand value first:</b> @(model.X)<br/>
<b>Rand value second:</b> @(model.Y)<br/>

<b>Add:</b><br />
@(model.Sum)<br />

<b>Dif:</b><br />
@(model.Dif)<br />

<b>Mult:</b><br/>
@(model.Mult)<br />

<b>Div:</b><br/>
@(model.Div)<br />