@{
    ViewBag.Title = "PassUsingViewBag - Backend1";
}
<h1>PassUsingViewBag</h1>
<b>Rand value first:</b> @ViewBag.X<br/>
<b>Rand value second:</b> @ViewBag.Y<br/>

<b>Add:</b><br/>
@ViewBag.Sum<br/>

<b>Dif:</b><br/>
@ViewBag.Dif<br/>

<b>Mult:</b><br/>
@ViewBag.Mult<br/>

<b>Div:</b><br/>
@ViewBag.Div<br/>

