@model Web1_lab.Models.CalcModel
@{
    ViewBag.Title = "PassUsingModel - Backend1";
}
<h1>PassUsingModel</h1>
<b>Rand value first:</b> @Model.X<br />
<b>Rand value second:</b> @Model.Y<br />

<b>Add:</b><br />
@Model.Sum<br />

<b>Dif:</b><br />
@Model.Dif<br />

<b>Mult:</b><br />
@Model.Mult<br />

<b>Div:</b><br />
@Model.Div<br />